/* Reset */
header nav {
  height: 66px;
  background-color: #CE2021;
}

main {
  margin-top: 20px;
}

p {
  text-align: justify;
}

.progress-bar, .progress {
  height: 10px;
  margin: 0;
  border-radius: 0;
}
.fixed {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
}
